{
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react",
		"plugin:prettier/recommended",
		"eslint-config-prettier"
	],
	"parser": "babel-eslint",
	"rules": {
	  "react/jsx-filename-extension": [
		1,
		{
		  "extensions": [
			".js",
			".jsx"
		  ]
		}
	  ],
	  "prettier/prettier": [
		"error",
		{
		  "trailingComma": "es6",
		  "singleQuote": true,
		  "printWidth": 100
		}
	  ]
	},
	"plugins": [
	  "prettier"
	]
  }